h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: start;
    font-size: 2.2em;
}

button {
    background-color: rgb(76, 76, 222);
    color: white;
    border-radius: 10%;
    height: 2.2em;
    font-size: 20px;
}

.button {
    background-color: rgb(76, 76, 222);
    color: white;
    border-radius: 10%;
    font-size: 15px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(61, 61, 181);
}

.suiteHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #007bff;
    margin-bottom: 5px;
    min-height: 290px;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

img {
    padding-bottom: 5px;
}


.imgMain {
    width: 200px;
    height: 250px;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.deleteButton {
    background-color: white;
    border: none;
    margin-left: 120px;


}

.deleteButton:hover {
    background-color: white;
}

.delete {
    width: 30px;
}

.delete:hover {
    width: 35px;
}

p {
    color: red;
    font-size: larger;

}

.addNote {
    max-height: 30px;
}